body{
background-color: hotpink;
}
.thelife{
background-color: red;
}
.thecareers{
background-color: blue;
}
.thebusiness{
background-color: yellow;
}
.themoveisgood{
background-color: green;
}
.theadaptation{
background-color: purple;
}
.thedancing{
background-color: orange;
}